In [1]:
import pandas as pd
import numpy as np

In [3]:
file_path = './expense_data_1.csv'  
df = pd.read_csv(file_path)

In [4]:
df.head()

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note.1,Amount,Currency,Account.1
0,3/2/2022 10:11,CUB - online payment,Food,NaN,Brownie,50.0,Expense,NaN,50.0,INR,50.0
1,3/2/2022 10:11,CUB - online payment,Other,NaN,To lended people,300.0,Expense,NaN,300.0,INR,300.0
2,3/1/2022 19:50,CUB - online payment,Food,NaN,Dinner,78.0,Expense,NaN,78.0,INR,78.0
3,3/1/2022 18:56,CUB - online payment,Transportation,NaN,Metro,30.0,Expense,NaN,30.0,INR,30.0
4,3/1/2022 18:22,CUB - online payment,Food,NaN,Snacks,67.0,Expense,NaN,67.0,INR,67.0

In [5]:
df.columns

Index(['Date', 'Account', 'Category', 'Subcategory', 'Note', 'INR',
       'Income/Expense', 'Note.1', 'Amount', 'Currency', 'Account.1'],
      dtype='object')

In [8]:
df_selected = df[['Date', 'Income/Expense' , 'Amount']]
df_selected.head()

             Date Income/Expense  Amount
0  3/2/2022 10:11        Expense    50.0
1  3/2/2022 10:11        Expense   300.0
2  3/1/2022 19:50        Expense    78.0
3  3/1/2022 18:56        Expense    30.0
4  3/1/2022 18:22        Expense    67.0

In [9]:
df_filtered = df_selected[df_selected['Income/Expense'] != 'Income']

In [10]:
df_filtered.head()

             Date Income/Expense  Amount
0  3/2/2022 10:11        Expense    50.0
1  3/2/2022 10:11        Expense   300.0
2  3/1/2022 19:50        Expense    78.0
3  3/1/2022 18:56        Expense    30.0
4  3/1/2022 18:22        Expense    67.0

In [11]:
df_final = df_filtered[['Date', 'Amount']]

In [12]:
# Convert 'Date' column to datetime format
df_filtered['Date'] = pd.to_datetime(df_filtered['Date'])

# Reformat the date to the desired format 'YYYY-MM-DD HH:MM'
df_filtered['Date'] = df_filtered['Date'].dt.strftime('%Y-%m-%d %H:%M')

# Display the updated DataFrame
df_filtered.head()

/tmp/ipykernel_53043/1107334238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Date'] = pd.to_datetime(df_filtered['Date'])
/tmp/ipykernel_53043/1107334238.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Date'] = df_filtered['Date'].dt.strftime('%Y-%m-%d %H:%M')

               Date Income/Expense  Amount
0  2022-03-02 10:11        Expense    50.0
1  2022-03-02 10:11        Expense   300.0
2  2022-03-01 19:50        Expense    78.0
3  2022-03-01 18:56        Expense    30.0
4  2022-03-01 18:22        Expense    67.0

In [15]:
df_final = df_filtered[['Date', 'Amount']]
df_final.head()

               Date  Amount
0  2022-03-02 10:11    50.0
1  2022-03-02 10:11   300.0
2  2022-03-01 19:50    78.0
3  2022-03-01 18:56    30.0
4  2022-03-01 18:22    67.0

In [17]:
df_final.to_csv('expense_data_2.csv', index=False)